<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Create_User</title>
    </head>
    <body>
        <h1>Revise Password</h1>
        <br/><br/>
            {% if messages %}
                {% for message in messages %}
                    
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
            <form action="" method="post">
                {% csrf_token %}
                <form>
          <!--          <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Username</label>
                      <input type="text" class="form-control" name="username" aria-describedby="emailHelp">
                    </div>  -->

                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Old Password</label>
                        <input type="password" class="form-control" name="old_password" aria-describedby="emailHelp">
                    </div>

                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">New Password</label>
                        <input type="password" class="form-control" name="new_password1" aria-describedby="emailHelp">
                    </div>

                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">New Password Again</label>
                        <input type="password" class="form-control" name="new_password2" aria-describedby="emailHelp">
                      </div>
                    <button type="submit" class="btn btn-primary">Revise Password</button>

                </form>
            </form>
    </body>
</html>